<div *ngIf="el.nativeElement.offsetParent != null" class="form-group" [formGroup]="form.getForm()" id="xinput-custom">
    <label *ngIf="label" for="{{id}}" class="{{labelClass}}">{{label}}</label>
    <select2
        class="form-control custom-select2"
        id="{{id}}"
        name="{{name}}"
        width="100%"
        [data]="options"
        [value]="ctrl.value"
        [form]="form"
        (valueChanged)="select($event)"
        [disabled]="isDisabled"
        [placeholder]="placeholder"
        [multiple]="multiple"
    ></select2>
    <div *ngIf="form.hasError(name)" class="alert alert-danger pull-right">
        {{form.getError(name)}}
    </div>
</div>
