<h2>Product Details</h2>

<div *ngIf="!isEdit; else editTpl">
<p>ID: {{id}}</p>
<p>TITLE: {{item.title}}</p>
<p style="display: flex; align-items: flex-start;">IMAGE: <span [innerHtml]="image(item.image)"></span></p>
<p>DESC: {{item.body}}</p>
<button (click)="edit()">Edit</button>
</div>

<ng-template #editTpl>
    <form #form="ngForm" (ngSubmit)="submit(form)">
        <input type="hidden" [(ngModel)]="item.id" name="id">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" [(ngModel)]="item.title" name="title" required>
        </div>
        <div>
            <label for="image">Image</label>
            <input type="text" id="image" [(ngModel)]="item.image" name="image" required> 
        </div>
        <div>
            <label for="desc">Description</label>
            <textarea [(ngModel)]="item.body" id="desc" cols="30" rows="10" name="body" required></textarea>
        </div>
        <br><br>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</ng-template>